<div class="weatherContainer">
  <div class="-title">Weather App</div>
  <div class="weatherCard">
    <input type="search" placeholder="Search" [(ngModel)] = 'search' class="weatherSearch" (keydown)="searchTemperature($event)" [formControl]="searchControl">
    <div class="weatherDetails">
      <div class="-location">{{value}}</div>
      <div class="-temperature">{{temperature}} deg</div>
    </div>
  </div>
</div>

<ul>
  <li *ngFor="let location of locations">
    {{ location.display_name }}
  </li>
</ul>