/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Literata';
    src: local("Literata Regular"), url('../src/assets/fonts/Literata-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Literata';
    src: url('../src/assets/fonts/Literata-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Literata';
    src: url('../src/assets/fonts/Literata-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Literata';
    src: url('../src/assets/fonts/Literata-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
html {
    font-size: 16px;
    font-family: 'Literata';
}
body {
    margin: 0;
    font-size: 14px;
}